<div class="wrapper">
    
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg9.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">E-Cell Presents FinCoF.</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">What is FinCoF?</h2>
                    <h5 class="description">It is an initiative by ecell to provide interns and shit to people like you. bla bla</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <!-- <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')"> -->
                            <!-- First image on the left side -->
                            <!-- <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div> -->
                        <!-- Second image on the left side of the article -->
                        <!-- <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5"> -->
                        <!-- First image on the right side, above the article -->
                        <!-- <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="py-5">
        <div class="container">
          <div class="row hidden-md-up">
            
            <div class="col-md-6" *ngFor="let n of [1,1,1,1,1,1]">
                <div class="card">
                    <div class="nav-tabs-navigation" data-tabs-color="orange">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'fill'" class="text-center">
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons objects_umbrella-13"></i> Basic Info
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="py-3">
                                            <div class="container">
                                              <div class="row hidden-md-up">
                                                <div class="col-md-4">
                                                    <div >
                                                        <img class="company-logo" src="assets/img/udaan-logo.jpg">
                                                        <div class="company-name text-center">
                                                            <b>Udaan</b>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="job-role">
                                                        Machine Learning Engineer
                                                    </div>
                                                    <div class="job-role">
                                                        3 Months
                                                    </div>
                                                    <div class="job-role">
                                                        Rs. 500.00
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- <div class="company-logo">
                                            <img src="assets/img/udaan-logo.jpg">
                                        </div>
                                        <div class="company-name">
                                            <b>Udaan</b>
                                            <div class="job-role">
                                                <strong>Machine Learning Engineer</strong> 
                                            </div>
                                        </div> -->
                                        
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons shopping_cart-simple"></i> Pre Requisite
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                      <i class="now-ui-icons shopping_shop"></i> Registration
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                    </ng-template>
                                </ngb-tab>
                                <!-- <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons ui-2_settings-90"></i> Settings
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                      <p>
                                          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                      </p>
                                    </ng-template>
                                </ngb-tab> -->
                            </ngb-tabset>
                        </div>
                    </div>
                  </div>
            </div>

          </div>
        </div>
      </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                {{data | date: 'yyyy'}} , By the Entrepreneurship Cell
            </div>
        </div>
    </footer>
</div>
