.company-logo{
    width: 60px;
    height: 60px;
    // margin-left: 40px;
    // float: left;
    margin: auto;
}

.company-name{
    // padding-left: 80px;
    // float: left;
    margin: auto;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    // margin-bottom: 15px;
}

.job-role{
    font-size: 15px;
    margin-bottom: 10px;
}
