#scroll-prompt {
    position: absolute;
    font-size: x-large;
}

.animated {
    animation: prompt-down 3s infinite;
}

#form {
    padding: 40px 30%;
    background: white;
    margin: 0 auto;
    transition: all 0.25s;

    .container {
        transition: all 0.25s;
        padding: 0 40px;
        padding-top: 20px;
        border: 1px solid lightgray;
    }
}

label, input {
    font-size: small;
}

@keyframes prompt-down {
    0% {
        padding-top: 0;
    }
    13% {
        padding-top: 0;
    }
    25% {
        padding-top: 50px;
    }
    50% {
        padding-top: 0px;
    }
}

@media screen and (max-width: 1100px) {
    #form {
        padding: 10%;
    }
}

@media screen and (max-width: 550px) {
    #form {
        padding: 0;
    }
}