<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg9.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title rellax" data-rellax-speed="5">Here you go!</h1>
                <p id="prompt">Log in with your LDAP credentials</p>
                <i id="scroll-prompt" class="fas fa-angle-down rellax animated" data-rellax-speed="-2"></i>
            </div>
        </div>
    </div>
    <div id="form">
        <div class="container" id="form-container">
            <form>
                <div class="form-group row">
                    <label for="inputLDAP" class="col form-control-plaintext">LDAP ID</label>
                    <input type="email" class="col" id="inputLDAP" placeholder="Enter your LDAP ID"
                        onfocus="document.getElementById('form-container').style.borderColor = 'black'"
                        onblur="document.getElementById('form-container').style.borderColor = 'lightgray'">
                </div>
                <div id="pass-div" class="form-group row">
                    <label for="inputPassword" class="col form-control-plaintext">Password</label>
                    <input type="password" class="col" id="inputPassword" placeholder="Password"
                        onfocus="document.getElementById('form-container').style.borderColor = 'black'"
                        onblur="document.getElementById('form-container').style.borderColor = 'lightgray'">
                </div>
                <div id="name-div" class="form-group row" hidden>
                    <label for="name" class="col form-control-plaintext">Student Name</label>
                    <input type="text" class="col form-control-plaintext" id="name" value="Ayush Jangir" disabled>
                </div>
                <div class="form-group row" id="res-div" id="resume" hidden>
                    <label for="resume" class="col form-control-plaintext" style="line-height: 1;">
                        Upload Resume<br>
                    </label>
                    <input type="file" class="col" title=" " accept="application/pdf"
                        onfocus="document.getElementById('form-container').style.borderColor = 'black'"
                        onblur="document.getElementById('form-container').style.borderColor = 'lightgray'">
                </div>
                <div style="text-align: center; padding-top: 20px">
                    <button id="submit-button" type="submit" class="btn btn-primary"
                        onclick="document.getElementById('form-container').style.borderColor = 'black'">Log In</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.ecell.in/">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                {{data | date: 'yyyy'}}, By the Entrepreneurship Cell
            </div>
        </div>
    </footer>
</div>