<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Dropdown header</a>
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Separated link</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">One more separated link</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/landing']" placement="bottom" ngbTooltip="E-Cell IIT Bombay">
                FinCoF  |  E-Cell
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/landing/">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Home</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/freelanceNintern/">
                      <i class="now-ui-icons files_paper"></i>
                      <p>Freelance and Interns</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cofounder/">
                      <i class="now-ui-icons files_paper"></i>
                      <p>Co-Founders</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">
                        <i class="now-ui-icons arrows-1_share-66"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" routerLink="/form/">
                    <i class="now-ui-icons files_paper"></i>
                    <p>Register Now!</p>
                  </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" ngbTooltip="Follow us on Twitter" placement="bottom" href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="d-lg-none d-xl-none">Twitter</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" ngbTooltip="Like us on Facebook" placement="bottom" href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" ngbTooltip="Follow us on Instagram" placement="bottom" href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
